<?xml version="1.0"?>
<launch>


	<rosparam>width: 800</rosparam>
	<rosparam>height: 600</rosparam>
	<rosparam>framerate: 60</rosparam>

	<node pkg="joy" output="screen" type="joy_node" name="joy_node" >
		<param name="dev" value="/dev/input/js0"/>
	</node>

	<node pkg="robot_control" output="screen" type="set_goals_robot.py" name="set_goals_robot"/>
	<node pkg="robot_control" output="screen" type="point_robot_human_control.py" name="point_robot_human_control" respawn="false"/>
	<node pkg="robot_control" output="screen" type="point_robot_autonomy_control.py" name="point_robot_autonomy_control" respawn="false"/>
	<node pkg="robot_control" output="screen" type="process_key_strokes.py" name="process_key_strokes" respawn="false"/>

</launch>
